<nav class="bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="'dashboard'" class="nav-link">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'orders'">
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'cargoes'" class="nav-link">
          Cargoes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'drivers'" class="nav-link">
          Drivers
        </a>
      </li>
    </ul>
  </div>
</nav>

