<div class="row home jumbotron justify-content-center p-4">
  <div class="col-5">
    <img class="rounded-lg border" src="../../../../assets/images/main.jpg">
  </div>
  <div class="col-5">
    <h1 class="display-3"><strong>Freight transportation</strong></h1>
  </div>
</div>

<div class="row justify-content-around">
  <div class="card col-3 text-white bg-dark mb-3 pl-0 pr-0 shadow-lg" style="max-width: 18rem;">
    <div class="card-header"><h5>For customers</h5></div>
    <div class="card-body">
      <p class="card-text">Choose the cargo and create order. Driver will deliver the cargo to your destination.</p>
    </div>
  </div>
  <div class="card col-3 text-white bg-dark mb-3 pl-0 pr-0 shadow-lg" style="max-width: 18rem;">
    <div class="card-header"><h5>For drivers</h5></div>
    <div class="card-body">
      <p class="card-text">Join the freight company and start to deliver goods.</p>
    </div>
  </div>
  <div class="card col-3 text-white bg-dark mb-3 pl-0 pr-0 shadow-lg" style="max-width: 18rem;">
    <div class="card-header"><h5>For managers</h5></div>
    <div class="card-body">
      <p class="card-text">Create your company and add list of goods which you will deliver. Add drivers to your company and start work.</p>
    </div>
  </div>
</div>

