<div class="col-12 mt-4">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th class="text-center">Price</th>
      <th class="text-center">Total</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-sm-8 col-md-6">
        <div class="media">
          <img class="media-object mr-2"
               src="assets/images/product-icon.jpg"
               style="width: 72px; height: 72px;">
          <div class="media-body">
            <h5 class="media-heading"><a href="#">Product name</a></h5>
            <h6 class="media-heading"> by <a href="#">Brand name</a></h6>
            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
          </div>
        </div>
      </td>
      <td class="col-sm-1 col-md-1" style="text-align: center">
        <input class="form-control" max="10" min="1" type="number" value="3">
      </td>
      <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
      <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
      <td class="col-sm-1 col-md-1">
        <a (click)="click(test)" [routerLink]="'checkout'" class="btn btn-success text-white" type="button">
          <span class="glyphicon glyphicon-remove"></span> Order
        </a>
      </td>
    </tr>
    <tr>
      <td class="col-md-6">
        <div class="media">
          <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                                        src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                                                        style="width: 72px; height: 72px;"> </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="#">Product name</a></h4>
            <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
            <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3 weeks</strong></span>
          </div>
        </div>
      </td>
      <td class="col-md-1" style="text-align: center">
        <input class="form-control" id="exampleInputEmail1" type="email" value="2">
      </td>
      <td class="col-md-1 text-center"><strong>$4.99</strong></td>
      <td class="col-md-1 text-center"><strong>$9.98</strong></td>
      <td class="col-md-1">
        <button class="btn btn-danger" type="button">
          <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

