<div class="col-12 mt-4">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Product</th>
<!--      <th>Quantity</th>-->
      <th class="text-center">Price</th>
      <!--      <th class="text-center">Total</th>-->
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let good of goods; let i = index;">
      <td class="col-sm-8 col-md-6">
        <div class="media">
          <img class="media-object mr-2"
               src="assets/images/product-icon.jpg"
               style="width: 72px; height: 72px;">
          <div class="media-body">
            <h5 class="media-heading">{{good.name}}</h5>
            <h6 class="media-heading">{{good.company.name}}</h6>
          </div>
        </div>
      </td>
      <!--      <td class="col-sm-1 col-md-1" style="text-align: center">-->
      <!--        <input class="form-control" max="10" min="1" type="number" value="3">-->
      <!--      </td>-->
      <td class="col-sm-1 col-md-1 text-center"><strong>{{good.price}}$</strong></td>
      <!--      <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>-->
      <td class="col-sm-1 col-md-1">
        <a (click)="passCargoToCheckout(good)" [routerLink]="'checkout'" class="btn btn-success text-white"
           type="button">
          <span class="glyphicon glyphicon-remove"></span> Order
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

