<div class="row mt-4">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product name</th>
      <th scope="col">Price</th>
      <th scope="col">Address</th>
      <th scope="col">Status</th>
      <th class="text-center" scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of myOrders; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{order.cargoName}}</td>
      <td>{{order.price}}</td>
      <td>{{order.address}}</td>
      <td>{{order.status}}</td>
      <td class="text-center">
        <a *ngIf="order.status === 'DELIVERED'" class="btn btn-success text-white" type="button">
          Mark as arrived
        </a>
        <a *ngIf="order.status === 'NOT_ASSIGNED'" class="btn btn-danger text-white" type="button">
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
